@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Open Sans', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
}

@layer components {
	.border-debug {
		@apply border border-red-500;
	}
}

#testimony-list {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
#testimony-list::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

#search-spinner {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
	animation: spin 1s infinite linear;
	position: absolute;
	right: 20px;
	top: 0px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.bg-wave {
	background-image: url("data:image/svg+xml,%3Csvg width='1140' height='294' viewBox='0 0 1140 294' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M115.803 237.6C65.8759 260.01 20.5718 228.263 4.16058 209.588C1.38686 205.986 0.23114 203.086 -4.01769e-06 202.086L0 294L1140 294L1140 1.12042e-05C1103.48 69.8628 1011.16 212.09 934.051 222.094C837.664 234.6 735.73 187.578 610.912 237.6C486.095 287.622 389.015 259.109 331.46 237.6C273.905 216.092 178.212 209.588 115.803 237.6Z' fill='white' fill-opacity='0.05'/%3E%3C/svg%3E");
}

.sort-list::before {
	content: '';
	position: absolute;
	top: -24px;
	left: 50%;
	width: 0px;
	height: 0px;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	border-bottom: 24px solid #fff;
	transform: translateX(-50%);
}
