@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Open Sans', system-ui, sans-serif;
	}
}

@layer components {
	.border-debug {
		@apply border border-red-500;
	}
}

#testimony-list {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
#testimony-list::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
